<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation" data-controller="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hello Doctor</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if current_user.role == 'doctor' %>
            <%= link_to 'Dashboard', doctor_path  , class: "nav-link active", aria: {current: "page"} %>
          <% else %>
            <%= link_to 'Dashboard', receptionist_path  , class: "nav-link active", aria: {current: "page"} %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Patients', patients_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if user_signed_in? %>
        <div class="mx-2">
          <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "are you sure" } , class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
