<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= patient.birthdate %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= patient.sex %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= patient.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= patient.address_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= patient.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= patient.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= patient.country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= patient.user_id %>
  </p>

</div>
